/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

/* Base */
body {
    background: #f9fafb;
    color: #161313;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* Header */
.header {
    display: inside;
    align-items: center;
    gap: 50px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Headings */
h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background: #e5e7eb;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Contact */
.contact p {
    margin-bottom: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Responsive */
@media (max-width: 200px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        width: 120px;
        height: 100px;
    }
}
